.logo-link {
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  margin-right: 95px;
}

.header,
.navigation,
.nav-list {
  display: flex;
  align-items: center;
}
.nav-list-item {
  position: relative;
}
.nav-list-item:not(:last-child) {
  margin-right: 50px;
}
.header-section {
  border-bottom: 2px solid #ececec;
}
.header {
  padding-top: 32px;
  padding-bottom: 32px;
}
.nav-list.adress {
  flex-basis: content;
  margin-left: auto;
}
.nav-list-item .nav-tel {
  display: flex;
  width: max-content;
  height: max-content;
  align-items: center;
}
.current,
.logo-text,
.nav-link:focus,
.nav-link:hover,
.nav-tel:focus,
.nav-tel:hover {
  color: var(--accent-color);
}
.nav-link {
  display: block;
}
.nav-link .current::after {
  position: absolute;
  bottom: -1px;
  display: block;
  content: "";
  background-color: var(--accent-color);
  width: 100%;
  height: 4px;
  transform: translateY(39px);
  border-radius: 2px;
}
.nav-list-icon {
  fill: #757575;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-tel:focus .nav-list-icon,
.nav-tel:hover .nav-list-icon {
  fill: var(--accent-color);
}

.nav-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-tel {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143x;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
